.mb-0 {
  margin-bottom: 0; }

.mb-15 {
  margin-bottom: 15px; }

.ml-5 {
  margin-left: 5px; }

.ant-card {
  font-family: "Titillium Web", sans-serif !important;
  background: white;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 15px; }
  .ant-card .ant-card-head {
    padding: 0 10px;
    min-height: 30px !important; }
    .ant-card .ant-card-head .ant-card-head-title {
      display: block !important;
      padding: 0px; }
      .ant-card .ant-card-head .ant-card-head-title .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0 !important; }
      .ant-card .ant-card-head .ant-card-head-title .date {
        font-size: 16px;
        float: right;
        color: #108ee9;
        font-weight: bold; }
  .ant-card .ant-card-body {
    min-height: 300px;
    padding: 10px; }

.homeDiv {
  margin-top: 120px;
  background-image: linear-gradient(120deg, #ffffff 0%, #e3ecf8 100%); }

.bannerDiv {
  background: #FFEFBA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
  border-bottom: gray 2px solid; }

.mainDesc {
  font-size: 21px;
  color: white; }
  @media only screen and (max-width: 600px) {
    .mainDesc {
      font-size: 14px;
      margin-top: 15px; } }

.homeCard {
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
  font-size: 20px !important;
  background-image: linear-gradient(135deg, #FFAA85 10%, #B3315F 100%) !important;
  color: white !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 25px !important; }

.wwa_header {
  color: #9A3324;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: -12px;
  font-size: 28px; }

.highlightsHeader {
  color: #9A3324;
  font-weight: bold;
  font-size: 34px;
  margin-top: 25px; }

.blockFullWidth {
  background: #3A5DAE;
  height: 180px;
  color: white; }
  @media only screen and (max-width: 600px) {
    .blockFullWidth {
      background: #3A5DAE;
      height: 150px;
      color: white; } }

.blockFullWidth {
  background: #3A5DAE;
  height: 230px;
  color: white; }

.cardImageCover:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  filter: brightness(140%); }

.cardImageCover {
  overflow: hidden;
  width: 100%; }
